<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="bg-secondary pt-5">
    <a href="/" class="offset-8">Go back</a>
    <div class="container col-6 border border-warning rounded mt-3 p-3 bg-light">
        <% if(messages.invalid) { %>
            <% for(var x of messages.invalid) { %>
                <span class="text-danger"><%=  x %></span><br>
            <% } %>
        <% } %>

        <form action="/bingo/<%=thisBingo._id%>" method="post">
            <div class="form-group">
                <label for="name" class="font-weight-bold">Name</label>
                <input type="text" name="name" value="<%=thisBingo.name %>" class="form-control">
            </div>
            <div class="form-group">
                <label for="meals" class="font-weight-bold">Favorite Meals</label>
                <input type="text" name="meals" value="<%=thisBingo.meals %>" class="form-control">
            </div>
            <div class="form-group">
                <label for="age" class="font-weight-bold">Age</label>
                <input type="number" name="age" value="<%=thisBingo.age %>" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary offset-10">Edit Bingo!</button>
        </form>
    </div>
</body>
</html>
